html { 
    height: 100%; 
    padding: 0;
}

body { 
    padding: 0;
    margin: 0;
    height: 100%;
    position: relative; 
}

/* Height / width / positioning can be customized for your use case.
   For demo purposes, we make firepad fill the entire browser. */
#firepad-container {
    width: 100%;
    height: 100%;
    font-size: large;
}

#top-bar {
    text-align: center;
    border-bottom: 1px solid black;
    background-color: #77BB77;
    margin:0;
    padding: 20px;
    height: 10%
}

input {
    border: 1px solid grey;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    width: 49%;
    margin-bottom: 30px;
}

.row {
    width:100%;
    padding: 10px;
}

#code-bit {
    height: 150%;
    border-bottom: 1px solid black;
    margin: 0;
}

#editor {
    height: 100%;
    width: 100%;
    padding-left: 1%;
    border-right: 1px dashed black;
}

@media only screen {
    #editor {
        border: 1px;
    }
}

#footer {
    padding: 10px;
    margin: 0;
    text-align: center;
    background-color: #FFF;
    background-color: #77BB77;
}
.firepad {
  width: 100%;
  height: 90%;
  background-color: #f62; /* dark orange background */
}
